{{define "DatabasesSettingsPage"}}
{{template "header"}}
{{template "static"}}
<link href="/static/css/dbsettings.css" rel="stylesheet" type="test/css" />
<link href="/static/css/index.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/static/css/codemirror/codemirror.css">
<link rel="stylesheet" href="/static/css/codemirror/themes/eclipse.css">

<link href="/static/css/css3buttons.css" rel="stylesheet" type="text/css" />
<link href="/static/css/popup.css" rel="stylesheet" type="text/css">
<link href="http://akquinet.github.io/jquery-toastmessage-plugin/demo/css/jquery.toastmessage-min.css" rel="stylesheet" type="text/css">

<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="/static/js/external/jquery-1.9.1.js"></script>
<script src="/static/js/external/jquery.min.js"></script>
<script src="/static/js/external/jquery-ui.js"></script>
<script src="http://akquinet.github.io/jquery-toastmessage-plugin/demo/jquery.toastmessage-min.js"></script>
<script src="/static/js/popup.js"></script>
<script src="/static/js/dbsettings.js"></script>
<script src="/static/js/external/codemirror/codemirror.js"></script>
<script src="/static/js/external/codemirror/mode/javascript/javascript.js"></script>
<script src="/static/js/external/codemirror/addon/selection/active-line.js"></script>
<script src="/static/js/external/codemirror/addon/edit/matchbrackets.js"></script>
{{template "body"}}
 
<div class="main">
<div class="data">{{.Data.User}}
<div class="general_buttons" align="right"><a href="#" class="primary button" onclick="addReplicationScript();"><span class="plus icon"></span>Add script as step</a>&nbsp;&nbsp;<a href="#" class="primary button" onclick="saveSetting();"><span class="lock icon" style="font-size: medium"></span>Save settings</a></div>
  </div>
<div class="main_cont">
  <div class="menu_top_bg"></div>
  <div class="sub_menu" id="nav">
    <ul>
      <li><a href="#" class="selected" onclick="showReplStepsSettings()">MySQL Moving Replication</a></li>
    </ul>
    <ul>
      <li><a href="#" onclick="scriptVariables()">Script variables</a></li>
    </ul>
  </div>
</div>
<div class="main_window" id="main_data">
</div>

{{template "footer"}}
{{end}}
