{{define "DatabasesSettingsStepsPage"}}

<p>Steps of Replication changer:</p><br>
<div class="ui-widget ui-helper-clearfix">
 
<ul id="stepsList" class="stepsList ui-widget-content ui-state-default ui-helper-reset ui-helper-clearfix">
  <h4 class="ui-widget-header"><span class="ui-icon ui-icon-selectedSteps"></span>Steps:</h4>
  {{ range $index, $step := .Data.StepsList }}
  <li class="ui-widget-content ui-corner-tr">
  <h5 class="ui-widget-header">{{.Name}}</h5>
    {{ if .Content}}
    <a href="#" title="View step content" class="ui-icon ui-icon-zoomin">View step content</a>
    <a href="#" title="Run test" class="ui-icon ui-icon-play">Run test</a>
    <a href="#" title="Delete step" class="ui-icon ui-icon-trash">Delete step</a>
    {{ end }}
    <a href="link/to/selectedSteps/script/when/we/have/js/off" title="Select step" class="ui-icon ui-icon-selectedSteps">Select step</a>
  </li>
  {{ end }}
</ul>
 
<div id="selectedSteps" class="ui-widget-content ui-state-default">
  <h4 class="ui-widget-header"><span class="ui-icon ui-icon-selectedSteps"></span>Selected steps:</h4>
</div>
 
</div>
</div>
<script>
var stepsList = {
  {{ range $index, $step := .Data.StepsList }}
  {{ if .Content }}
  {{.Name}}: {{.Content}},
  {{ end }}
  {{ end }}
}
</script>
<div id="replStepsSettings" style="display: none">
</div>

{{end}}
