{{define "Menu"}}
<div class="wrap">
  <nav>
    <ul class="menu">
      <li><a href="/"><span class="iconic home"></span> Home</a></li>
      <li><a href="#"><span class="iconic box"></span> Databases</a>
      <ul>
        <li><a href="#">Settings</a></li>
      </ul>
      </li>
      <li><a href="#"><span class="iconic statistics"></span> Statistics</a>
      <ul>
        <li><a href="#">System stat</a></li>
        <li><a href="#">Interface stat</a></li>
      </ul>
      </li>
      <li><a href="#"><span class="iconic settings"></span> Settings</a>
      <ul>
        <li><a href="#">Users</a></li>
      </ul>
      </li>
      <li><a href="#"><span class="iconic chat-alt"></span> Chat</a></li>
    </ul>
    <div class="clearfix"></div>
  </nav>
</div>
{{end}}
